html {
  background: #131313;
  scroll-behavior: smooth;
}

html {
  line-height: 1.1;
  font-size: 16px;
  color: #f5eee6;
  /* font-family: "Tusker Grotesk", sans-serif; */
  font-family: "Black Han Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

* {
  text-rendering: optimizeLegibility;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[class*="no-scroll"] {
  overflow: hidden;
}

body {
  margin: 0;
}
#main-wrap {
  overflow-x: hidden;
}

[class*="page-header"] {
  width: 100%;
  height: 100vh;
  position: relative;
}

html[class*="font-loaded"] #header [class*="wrap-header"],
html[class*="font-loaded"] [class*="main-wrapper"],
html[class*="font-loaded"] [class*="availability"] .scaling-svg,
html[class*="font-loaded"] [class*="availability"] .data,
html[class*="font-loaded"] [class*="availability"] .label {
  opacity: 1;
}

[class*="page-header"] [class*="main-wrapper"] {
  position: absolute;
  bottom: 28px;
  left: 0;
  right: 0;
  align-items: flex-end;
  justify-content: space-between;
}

[class*="main-wrapper"] {
  position: relative;
  max-width: 100%;
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  flex-wrap: wrap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Black Han Sans", sans-serif;
}
@media (max-width: 1199px) {
  [class*="page-header"] [class*="main-wrapper"] [class|="text"] {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* Portrait */
@media screen and (orientation: portrait) {
}
/* end of Portrait */

/* Landscape */
@media screen and (orientation: landscape) {
}
/*end of Landscape*/

h1,
[class*="h1"] {
  font-size: 10.9375rem;
  font-size: 10vw;
}
